
<br><br>

<form class="form_container" id="latertweet">
  Crea un tweet nuevo:
  <br><br>
  <textarea name="laterTweet" style="width:500px;" id="text"></textarea>
  <br><br>
  Tiempo en minutos para enviarse
  <input type="text" name="time" id="tim">
  <br><br>
  <button>Enviar</button>
</form>

<div class="tarea_estatus" id="estatus">
  
</div>